
<div class="grid">
	<div class="col-12 xl:col-12">
		<div class="col-23 xl:col-12">
			<div class="card">
				<h5><b>Surveys</b></h5>
				<p-toast key="tst"></p-toast>

				<p-table
					#dt
					[value]="Users"
					[paginator]="true"
					[rows]="5"
					responsiveLayout="scroll"
					[tableStyle]="{'min-width': '50rem'}"
					[rowsPerPageOptions]="[5, 10, 20,40,80,100]"
					selectionMode="single"
          [globalFilterFields]="['date', 'c_id', 'representative.name', 'status']"
				>
					<ng-template pTemplate="header">
						<tr>
							<th pSortableColumn="date">Booking Date <p-sortIcon field="date"></p-sortIcon></th>
							<th pSortableColumn="c_id">Counselor Name <p-sortIcon field="c_id"></p-sortIcon></th>
                            <th pSortableColumn="c_status">Counselor Assign Status <p-sortIcon field="c_status"></p-sortIcon></th>
                            <th pSortableColumn="type">Assign <p-sortIcon field="type"></p-sortIcon></th>
                            <th pSortableColumn="u_id">Booked User <p-sortIcon field="u_id"></p-sortIcon></th>
                            <th pSortableColumn="u_status">Booked User Status <p-sortIcon field="u_status"></p-sortIcon></th>
                            <th>View Details</th>
                            <th>Action</th>
						</tr>
					</ng-template>
					<ng-template pTemplate="body" let-user>
						<tr [pSelectableRow]="user">
							              <td>{{ user.date }}</td>
							              <td *ngIf="user.c_id != undefined">{{ user.c_id }}</td>
                            <td *ngIf="user.c_id == undefined">No Counselor</td>
                            <td>{{ user.c_status }}</td>
                            <td>
                                <ng-container [ngSwitch]="user.type">
                                  <span class="small" *ngSwitchCase="1"
                                    >8:00 AM ~ 9:00 AM &nbsp;</span
                                  >
                                  <span class="small" *ngSwitchCase="2"
                                    >9:00 AM ~ 10:00 AM &nbsp;</span
                                  >
                                  <span class="small" *ngSwitchCase="3"
                                    >10:00 AM ~ 11:00 AM &nbsp;</span
                                  >
                                  <span class="small" *ngSwitchCase="4"
                                    >11:00 AM ~ 12:00 PM &nbsp;</span
                                  >
                                  <span class="small" *ngSwitchCase="5"
                                    >12:00 PM~ 1:00 PM &nbsp;</span
                                  >
                                  <span class="small" *ngSwitchCase="6"
                                    >1:00 PM~ 2:00 PM &nbsp;</span
                                  >
                                  <span class="small" *ngSwitchCase="7"
                                    >2:00 PM ~ 3:00 PM &nbsp;</span
                                  >
                                  <span class="small" *ngSwitchCase="8"
                                    >3:00 PM ~ 4:00 PM &nbsp;</span
                                  >
                                  <span class="small" *ngSwitchCase="9"
                                    >4:00 PM ~ 5:00 PM &nbsp;</span
                                  >
                                  <span class="small" *ngSwitchCase="10"
                                    >5:00 PM ~ 6:00 PM &nbsp;</span
                                  >
                                  <span class="small" *ngSwitchCase="11"
                                    >6:00 PM~ 7:00 PM &nbsp;</span
                                  >
                                  <span class="small" *ngSwitchCase="12"
                                    >7:00 PM ~ 8:00 PM &nbsp;</span
                                  >
                                  <span class="small" *ngSwitchCase="13"
                                    >8:00 PM ~ 9:00 PM &nbsp;</span
                                  >
                                  <span class="small" *ngSwitchCase="14"
                                    >9:00 PM ~ 10:00 PM &nbsp;</span
                                  >
                                  <span class="small" *ngSwitchCase="15"
                                    >10:00 PM ~ 11:00 PM &nbsp;</span
                                  >
                                  <span class="small" *ngSwitchCase="16"
                                    >11:00 PM ~ 12:00 AM &nbsp;</span
                                  >
                                  <span class="small" *ngSwitchCase="17"
                                    >12:00 AM ~ 1:00 AM &nbsp;</span
                                  >
                                  <span class="small" *ngSwitchCase="18"
                                    >1:00 AM ~ 2:00 AM &nbsp;</span
                                  >
                                  <span class="small" *ngSwitchCase="19"
                                    >2:00 AM~ 3:00 AM &nbsp;</span
                                  >
                                  <span class="small" *ngSwitchCase="20"
                                    >3:00 AM ~ 4:00 AM &nbsp;</span
                                  >
                                  <span class="small" *ngSwitchCase="21"
                                    >4:00 AM ~ 5:00 AM &nbsp;</span
                                  >
                                  <span class="small" *ngSwitchCase="22"
                                    >5:00 AM ~ 6:00 AM &nbsp;</span
                                  >
                                  <span class="small" *ngSwitchCase="23"
                                    >6:00 AM ~ 7:00 AM &nbsp;</span
                                  >
                                  <span class="small" *ngSwitchCase="24"
                                    >7:00 AM ~ 8:00 AM &nbsp;</span
                                  >
                                  <span class="small" *ngSwitchDefault
                                    >Other Time Range &nbsp;</span
                                  >
                                </ng-container>
                              </td>
                              <td *ngIf="user.u_id != undefined">{{ user.u_id }}</td>
                              <td *ngIf="user.u_id == undefined">No Booking Person</td>
                              <td>{{ user.u_status }}</td>
                              <td>
                                <div class="flex">
                                  <button pButton type="button" label="Details" icon="pi pi-eye" class="mr-2"
                                  (click)="openDialog(user.user_id,user.date)"></button>
                                </div>
                              </td>
                            <td>
                                <div class="flex">
                                  <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="delete(user.book_id)"></button>
                                </div>
                              </td>
						</tr>
					</ng-template>
				</p-table>
			</div>
			<p-dialog [(visible)]="productDialog" [style]="{width: '450px'}"[modal]="true" class="p-fluid" [maximizable]="true">
				<ng-template pTemplate="header">
					<span><b>Survey Answers</b></span>
				  </ng-template>
				<ng-template pTemplate="content">
          <p-table
					#dt
					[value]="message"
					[paginator]="true"
					[rows]="7"
					responsiveLayout="scroll"
					[tableStyle]="{'min-width': '50rem'}"
					[rowsPerPageOptions]="[7, 10, 20,40,80,100]"
					selectionMode="single"
				>
					<ng-template pTemplate="header">
						<tr>
							<th pSortableColumn="date">Date <p-sortIcon field="date"></p-sortIcon></th>
							<th pSortableColumn="answer1">Answer 1 <p-sortIcon field="answer1"></p-sortIcon></th>
							<th pSortableColumn="answer2">Answer 1 <p-sortIcon field="answer2"></p-sortIcon></th>
							<th pSortableColumn="answer3">Answer 1 <p-sortIcon field="answer3"></p-sortIcon></th>
							<th pSortableColumn="answer4">Answer 1 <p-sortIcon field="answer4"></p-sortIcon></th>
							<th pSortableColumn="answer5">Answer 1 <p-sortIcon field="answer5"></p-sortIcon></th>
							<th pSortableColumn="answer6">Answer 1 <p-sortIcon field="answer6"></p-sortIcon></th>
						</tr>
					</ng-template>
					<ng-template pTemplate="body" let-user>
						<tr [pSelectableRow]="user">
							              <td>{{ user.date }}</td>
							              <td>{{ user.answer1 }}</td>
							              <td>{{ user.answer2 }}</td>
							              <td>{{ user.answer3 }}</td>
							              <td>{{ user.answer4 }}</td>
							              <td>{{ user.answer5 }}</td>
							              <td>{{ user.answer6 }}</td>
						</tr>
					</ng-template>
				</p-table>
				</ng-template>
			</p-dialog>

			<p-dialog [(visible)]="deleteProductDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
				<div class="flex align-items-center justify-content-center">
					<i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
					<span>Are you sure you want to delete?</span>
				</div>
				<ng-template pTemplate="footer">
					<button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductDialog = false"></button>
					<button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
				</ng-template>
			</p-dialog>

		</div>
	</div>
</div>
