input::file-selector-button {
    background-color: rgb(77, 69, 230);
    border: none;
    padding: 10px 5px;
    border-radius: 5px;
    color: #fff;
  }

  .btn-submit{
    background-color: rgb(77, 69, 230);
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    color: #fff;
  }